.container{
  max-width: 600px;
}
.btn{
  background: #D4C3B5;
  color: rgb(59, 43, 28);
  outline: none !important;
  box-shadow: none !important;
  max-height: 38px;
}
.btn:focus{
  outline: none !important;
}
.btn:hover{
  background-color: whitesmoke;
  border: 2px dashed black;
  max-height: 38px;
}
.username{
  font-weight: bold;
}
.time{
  font-size: 0.7em;
  color: #999;
}
#chat-window{
  overflow: auto;
  display: flex;
  flex-direction: column-reverse;
  max-height: 350px;
}
.update-mssg{
  text-align: center;
  margin: 20px auto;
}
.gifs-wrap{
  display: grid;
  grid-template-columns: 1fr  1fr 1fr 1fr 1fr;

}
.gifs-wrap img{
  width: 100px;
}